$backColor : rgb(215,215,215);
$navColor : rgb(74, 65, 129);
$pointerColor : rgb(175, 255, 202);
$cicleColorSchadow : rgb(170,170,170);
$navColorII :  rgb(64, 56, 114);
$recordTextColor :  rgb(152, 107, 223);
$pointerBackgroundColor : rgba(50, 221, 150, 0.2);
$circleAnimationBackgroundColorI : rgb(170,170,170);
$navheight: 8vh;
$textsDistFromTop: 20vh;

